<section class="my-library-hero">
    <div class="my-library-hero__loader is-hidden"></div>
    <div class="my-library-hero__overlay">
        <h1 class="my-library-hero__title">Create Your Dream Cinema</h1>

        <p class="my-library-hero__description">
            Is a guide to designing a personalized movie theater experience with the
            right equipment, customized decor, and favorite films. This guide helps
            you bring the cinema experience into your own home with cozy seating, dim
            lighting, and movie theater snacks.
        </p>
    </div>
</section>

<script type="module" src="../js/my-library-hero.js"></script>